body {
	margin: 0px;
}
div.banner{
	background-color: #2ec400;
	display: grid;
	grid-template-columns: auto auto auto;
	margin-bottom: 20px;
}
h1.title {
	text-align: center;
	font-size: 50px;
	margin: auto;
	color: white;
}
img.home {
	margin-right: auto;
	padding: 20px;
	height: 70px;
}
img.git {
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	height: 70px;
}
a.home {
	margin: auto;
	margin-left: 0px;
	transition-duration: 0.4s;
}
a.home:hover, a.git:hover {
	background-color: #4bd821;
}
a.git {
	margin: auto;
	margin-right: 0px;
	transition-duration: 0.4s;
}
div.mainDiv {
	display: grid;
	place-items: center;
}
table {
	border-collapse: collapse;
}
th {
	font-size: x-large;
	text-align: left;
}
col.col1 {
	width: 100px;
}
col.col2, col.col3 {
	width: 200px;
}
tr.labels, tr.torso, tr.belt {
	background-color: #aaaaaa;
}
tr.head, tr.arms, tr.legs {
	background-color: #ffffff;
}
.swapHead, .swapTorso, .swapArms, .swapBelt, .swapLegs {
	border-width: 0px;
	padding-top: calc(100% - 25px);
	padding-bottom: calc(100% - 25px);
	padding-right: calc(50% - 25px);
	padding-left: calc(50% - 25px);
	background-color: transparent;
	transition-duration: 0.4s;
}
.swapHead:hover, .swapTorso:hover, .swapArms:hover, .swapBelt:hover, .swapLegs:hover {
	background-color: #04AA6D;
}
.swapIcon {
	height: 50px;
	width: 50px;
}
img.armor {
	width: 200px;
	height: 200px;
}
td {
	margin: 0px;
	border-width: 0px;
	padding: 0px;
	vertical-align: top;
}
p {
	margin: 0px;
}