body {
	margin: 0px;
}
div.banner{
	background-color: #2ec400;
	display: grid;
	grid-template-columns: auto auto auto;
	margin-bottom: 20px;
}
h1.title {
	text-align: center;
	font-size: 50px;
	margin: auto;
	color: white;
}
img.home {
	margin-right: auto;
	padding: 20px;
	height: 70px;
}
img.git {
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	height: 70px;
}
a.home {
	margin: auto;
	margin-left: 0px;
	transition-duration: 0.4s;
}
a.home:hover,
a.git:hover {
	background-color: #4bd821;
}
a.git {
	margin: auto;
	margin-right: 0px;
	transition-duration: 0.4s;
}
div.overBar {
	display: inline-block;
	margin-bottom: 10px;
}
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
	margin-right: 600px; /* To be adjusted later*/
}
.switch input { 
	opacity: 0;
	width: 0;
	height: 0;
}
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: blue;
	-webkit-transition: .4s;
	transition: .4s;
}
.slider:before {
	position: absolute;
	content: "M";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	transition: .4s;
	text-align: center;
	font-size: 24px;
}
input:checked + .slider {
	background-color: red;
}
input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
	transform: translateX(26px);
	content: "F";
}
div.mainDiv {
	display: grid;
	place-items: center;
	margin-bottom: 150px;
}
table {
	border-collapse: collapse;
}
th {
	font-size: x-large;
	text-align: center;
}
col.col1 {
	width: 105px;
}
col.col2,
col.col6 {
	width: 200px;
}
col.col3,
col.col4{
	width: 100px;
}
col.col5 {
	width: 175px;
}
tr.labels,
tr.torso,
tr.belt,
tr.charm {
	background-color: #dadada;
}
tr.head,
tr.arms,
tr.legs {
	background-color: #ffffff;
}
button.swap {
	border-width: 0px;
	padding-top: calc(100% - 25px);
	padding-bottom: calc(100% - 25px);
	padding-right: calc(50% - 25px);
	padding-left: calc(50% - 25px);
	background-color: transparent;
	transition-duration: 0.4s;
	height: 200px;
}
button.swap:hover {
	background-color: #04AA6D;
}
.swapIcon {
	height: 50px;
	width: 50px;
}
div.swap {
	display: none;
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
	width: 505px;
	height: inherit;
	overflow: hidden;
}
.headSlotMenu,
.torsoSlotMenu,
.armsSlotMenu,
.beltSlotMenu,
.legsSlotMenu {
	display: none;
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
	width: 275px;
	height: 200px;
	overflow: hidden;
}
.swapMenu,
.slotMenu {
	background-color: #fefefe;
	margin: auto;
	border: 1px solid #000000;
	width: auto;
	height: 198px;
}
.close,
.closeSlot {
	color: white;
	float: right;
	font-size: 28px;
	font-weight: bold;
	width: 32px;
	height: 32px;
	text-align: center;
	background-color: red;
}
.close:hover,
.close:focus,
.closeSlot:hover,
.closeSlot:focus {
	color: #000000;
	text-decoration: none;
	cursor: pointer;
}
.innerModal {
	margin-top: 5px;
	margin-left: 10px;
}
.armorSearch,
.slotSearch {
	padding: 5px;
	margin-bottom: 10px;
	font-size: 15px;
	border-radius: 0px;
	border-style: solid;
}
.armorSearch {
	width: 300px;
}
.slotSearch {
	width: 150px;
}
.armorSearchButton,
.slotSearchButton {
	margin: 0px;
	border-width: 0px;
	border-radius: 0px;
	background-color: #2196f3;
	color: white;
	font-size: 15px;
	padding-top: 7px;
	padding-bottom: 7px;
}
.armorSearchButton:hover,
.slotSearchButton:hover {
	background-color: #007de4;
	cursor: pointer;
}
.armorSearchResults,
.slotSearchResults {
	height: 152px;
	overflow-y: auto;
}
.headSelection,
.torsoSelection,
.armsSelection,
.beltSelection,
.legsSelection {
	margin: 0px;
	border-width: 0px;
	border-radius: 0px;
	padding: 5px;
	width: 314px;
	text-align: start;
	background-color: white;
	color:  black;
}
.headSlotSelection,
.torsoSlotSelection,
.armsSlotSelection,
.beltSlotSelection,
.legsSlotSelection {
	margin: 0px;
	border-width: 0px;
	border-radius: 0px;
	padding: 5px;
	width: 228px;
	text-align: start;
	background-color: white;
	color:  black;
}
.headSelection:hover,
.torsoSelection:hover,
.armsSelection:hover,
.beltSelection:hover,
.legsSelection:hover,
.headSlotSelection:hover,
.torsoSlotSelection:hover,
.armsSlotSelection:hover,
.beltSlotSelection:hover,
.legsSlotSelection:hover {
	background-color: black;
	color:  white;
}
img.armor {
	display: block;
	width: 200px;
	height: 200px;
}
.name {
	visibility: hidden;
	width: 200px;
	max-width: 200px;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	position: absolute;
	z-index: 1;
	left: 0px;
	top: 0px;
}
.imgBox:hover .name {
	visibility: visible;
}
.headImg {
	position: absolute;
	left: 0%;
	top: 0%;
}
td {
	position: relative;
	margin: 0px;
	border-width: 0px;
	padding: 0px;
	vertical-align: top;
}
.statBox,
.slotBox {
	padding-top: 10px;
	padding-left: 10px;
	height: 190px;
}
.slotButton {
	background-color: transparent;
	border-width: 0px;
}
.slotButton:hover {
	cursor: pointer;
}
.statIcon {
	height: 18px;
	display: inline;
	margin: 0px;
}
p {
	margin: 0px;
}
p.stat {
	display: inline;
	vertical-align: top;
}
img.slotIcon {
	height: 24px;
}
div.skill1 {
	padding-left: 10px;
	padding-top: 10px;
}
div.skill2 {
	padding-left: 10px;
}
td.set {
	border-left: 5px double black;
	padding-top: 10px;
	padding-left: 10px;
}