body {
	margin: 0px;
}
div.banner{
	background-color: #2ec400;
	display: grid;
	grid-template-columns: auto auto auto;
	margin-bottom: 20px;
}
h1.title {
	text-align: center;
	font-size: 50px;
	margin: auto;
	color: white;
}
img.home {
	margin-right: auto;
	padding: 20px;
	height: 70px;
}
img.git {
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	height: 70px;
}
a.home {
	margin: auto;
	margin-left: 0px;
	transition-duration: 0.4s;
}
a.home:hover, a.git:hover {
	background-color: #4bd821;
}
a.git {
	margin: auto;
	margin-right: 0px;
	transition-duration: 0.4s;
}
div.main-div {
	display: grid;
	place-items: center;
}
th {
	font-size: x-large;
	text-align: left;
}
col.col1 {
	width: 200px;
}
col.col2 {
	width: 200px;
}
img.armor {
	width: 200px;
	height: 200px;
}
td {
	margin: 0px;
	vertical-align: top;
}
p {
	margin: 0px;
}